on:
  push:

jobs:
  Image-scan:
    name: Image-Scan
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker images
        uses: docker/build-push-action@v4
        with:
          tags: imagescan:latest
          push: false

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'imagescan:latest'
          exit-code: '1'
          format: 'json'
          output: 'trivy-results.json'
      
      - name: Archive Image Scan results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: trivy-results.json
          path: .
