on:
  push:

jobs:
  Image-scan:
    name: Image-Scan
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker images
        id: image_build
        uses: docker/build-push-action@v4
        with:
          tags: image-scan:latest
          file: .
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: docker check
        run: |
          ls -l
          docker images
          docker inspect image-scan:latest

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: image-scan:latest
          format: 'json'
          output: 'trivy-results.json'
      
      - name: Archive Image Scan results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: trivy-results.json
          path: trivy-results.json
